@using EpiserverSite
@model EpiserverSite.Models.Blocks.FactsBlock

<div class="w-100 row factsblock-container justify-content-center">
    <div class="col-12 factsblock__banner-container @(!string.IsNullOrWhiteSpace(Model.Theme) ? Model.Theme : "")">
        <div class="factsblock__banner w-100 d-flex align-items-center justify-content-center">
            <div class="w-25 factsblock__icon-container">
                <i class="@Model.LeftColumn.IconCssClass"></i>
            </div>
            <div class="w-10">
                <h1 @Html.EditAttributes(x => x.Heading) class="display-5 fw-bold text-center">@Model.Heading</h1>
            </div>

            <div class="w-25 factsblock__icon-container">
                <i class="@Model.RightColumn.IconCssClass"></i>
            </div>
        </div>
    </div>
    @Html.PropertyFor(x => x.LeftColumn, new {Tag = Global.ContentAreaTags.HalfWidth})
    <div class="spacer w-10"></div>
    @Html.PropertyFor(x => x.RightColumn, new {Tag = Global.ContentAreaTags.HalfWidth})
</div>