@using EpiserverSite.Models
@using ImageProcessor.Web.Episerver
@model IPageViewModel<SitePageData>


<header class="bg-image">
    <nav class="d-flex flex-column bg-transparent text-white @(Model.CurrentPage.BackgroundImage != null ? "bg-blurred" : "")">
        <div class="w-100 d-flex align-items-center justify-content-center">
            @if (Model.Layout.SiteImage != null)
            {
                <a href="/">
                    <img class="header-logo" src="@(Html.ProcessImage(Url.Content(Url.ContentUrl(Model.Layout.SiteImage))).ResizeCrop(null, 100, null, null))"/>
                </a>
            }
        </div>
        <div class="d-flex justify-content-around align-items-center flex-row w-100">
            <div class="search-container d-flex align-items-center justify-content-center">
                <a class="text-dark">
                    <i class="fas fa-search fa-2x"></i>
                </a>
            </div>
            <div class="nav-links-container justify-content-center align-items-center flex-row">
                <ul class="menu-items d-flex flex-row justify-content-around align-items-center">
                    @foreach (var item in Model.NavItems)
                    {
                        <li class="menu-item @(item.Active ? "active" : "")">
                            <a class="menu-item__link" href="@item.Link">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="shopping-cart-container justify-content-center align-items-center">
                <a class="text-dark">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                </a>
            </div>
        </div>
    </nav>

    @*<div class="bg-light p-5 rounded-lg m-3 bg-transparent">
        <div class="container-fluid text-white" style="min-height: 700px">
            <div class="row">
                @Html.Partial("_Breadcrumbs", Model)
            </div>
            <div class="row">
                <div class="col-8">
                    <h1 class="display-4">@Html.PropertyFor(x => x.CurrentPage.Headline)</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    @Html.PropertyFor(x => x.CurrentPage.Ingress)
                </div>
            </div>
        </div>
    </div>*@
</header>