@model EpiserverSite.Models.Pages.ArticlePage

<div class="articlepage-vertical__image-container">
    <a href="@Model.LinkURL" class="articlepage-vertical__link">
        @Html.PropertyFor(x => x.BackgroundImage, new {CssClass = "w-100"})
    </a>
</div>
<div class="articlepage-vertical__text-container">
    <div class="articlepage-vertical__text-wrapper">
        <h1 @Html.EditAttributes(x => x.Heading) class="display-2">@Model.Heading</h1>
        <p @Html.EditAttributes(x => x.Ingress) class="lead">@Model.Ingress</p>
    </div>
</div>