@model EpiserverSite.Models.Pages.ArticlePage

<div class="col-12 col-md-6 p-0 m-0">
    <a href="@Model.LinkURL">
        @Html.PropertyFor(x => x.BackgroundImage, new {CssClass = "w-100"})
    </a>
</div>
<div class="col-12 col-md-6 p-0 m-0">
    <div class="articlepage-text-container px-5">
        <h1 @Html.EditAttributes(x => x.Heading) class="display-2">@Model.Heading</h1>
        <p @Html.EditAttributes(x => x.Ingress) class="lead">@Model.Ingress</p>
    </div>
</div>