@using ImageProcessor.Web.Episerver
@model EpiserverSite.Models.Pages.ArticlePage

@{
    var image = Html.ProcessImage(Url.ContentUrl(Model.BackgroundImage)).ResizeCrop(600, null, null, null);

}

<img src="@image" class="listing-swipe-block__card--img" alt="bg">

<div class="listing-swipe-block__card--body">
    <h5 @Html.EditAttributes(x => x.Heading) class="">@Model.Heading</h5>
    <p @Html.EditAttributes(x => x.Ingress) class="">
        @Model.Ingress
    </p>
</div>