@model EpiserverSite.Models.Pages.FAQPage

<dd class="faq-block">
    <div class="faq-block__body">
        <i class="@Model.IconCssClass @Model.IconThemeCssClass icon-7x"></i>
        <div class="faq-block__content-wrapper">
            <div class="faq-block__content-header">
                <a href="#" class="collapseables">
                    @Model.PageName
                </a>
            </div>
            <div class="faq-block__content-body d-none collapseable-content">
                <h5 class="text-muted" @Html.EditAttributes(x => x.Question)> @Model.Question </h5>
                @Html.PropertyFor(x => x.TextContent)
            </div>
        </div>
    </div>
</dd>